# IDE
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/modules.xml
.idea/vcs.xml

bin

vendor.protogen
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test


*.out

go.work
go.work.sum

.env

coverage.out

